:root {
  --color-one: #fafd36;
  --color-two: #02df93;
  --color-three: #8421ce;
  --color-four: #111111;
}

@font-face {
  font-family: "Glitch";
  src: url("./fonts/DoctorGlitch.otf") format("opentype");
}
