:root {
  --color-one: #fafd36;
  --color-two: #02df93;
  --color-three: #8421ce;
  --color-four: #111111;
  --color-five: white;
  --color-six: #0000ff;
}

.un {
  color: var(--color-one);
}

.deux {
  color: var(--color-two);
}

.trois {
  color: var(--color-three);
}

.quatre {
  color: var(--color-four);
}
