.video_player_container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video_player_container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

@media screen and (max-width: 427px) and (min-width: 320px) {
  .iframe_player_none {
    display: none;
  }

  .iframe-player {
    animation-name: opacity;
    animation-duration: 6s;
  }

  @keyframes opacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@media screen and (min-width: 1024px) {
  #iframe-video-youtube {
    position: relative;
    top: -200px;
    width: 100%;
    height: 70em;
    animation-name: iframe-v;
    animation-duration: 1s;
  }

  @keyframes iframe-v {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  #iframe-video-none {
    display: none;
  }
  .iframe_player_none {
    display: none;
  }
}
