@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap");

.imgHomePartPub {
  max-width: 100%;
  margin-top: 5em;
}

.container-Home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.imgPubDay {
  display: flex;
}
.TextChoose {
  color: white;
  width: 100%;
  font-size: 3em;
  text-align: center;
}
.choosePlan {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Darker Grotesque", sans-serif;
  gap: 2rem;
  width: 100%;
}
.btn-Choose {
  color: var(--color-one);
  font-weight: bolder;
  font-size: large;
  background-color: var(--color-three);
  display: flex;
  padding: 1rem;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: auto;
  cursor: pointer;
  border: none;
  transition: transform 0.2s ease 0.2s;
}
.btn-Choose:hover {
  transform: scale(1.1);
}
.artcileP {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}
.textP {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: large;
}
.titleP {
  display: flex;
  justify-content: center;
  font-size: 2em;
  font-weight: bolder;
  font-family: "Darker Grotesque", sans-serif;
}
@media screen and (min-width: 480px) {
  .artcileP {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    width: 80%;
  }
  .TextChoose {
    color: white;
    font-size: 36px;
    width: 100%;
    text-align: center;
  }
  .choosePlan {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 80%;
    text-align: center;
  }
}

@media screen and (min-width: 1440px) {
  .imgHomePartPub {
    width: 200%;
  }
}
