.container-Plan {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.h1-Plan {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: bolder;
  width: 50%;
  text-align: center;
}
.h1-Choose {
  display: flex;
  padding-top: 3rem;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: bolder;
  color: var(--color-five);
  width: 50%;
  text-align: center;
}
.textFormula {
  display: flex;
  color: var(--color-five);
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: large;
  font-weight: bold;
  align-items: center;
  width: 50%;
  text-align: center;
}
@media (max-width: 480px) {
  .h1-Plan {
    display: flex;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    width: 80%;
    text-align: center;
  }
  .h1-Choose {
    display: flex;
    padding-top: 3rem;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: bolder;
    color: var(--color-two);
    width: 80%;
  }
  .textFormula {
    display: flex;
    color: var(--color-five);
    font-size: large;
    font-weight: bold;
    align-items: center;
    width: 80%;
    text-align: center;
    padding-bottom: 2rem;
  }
}
