/* Mobile-first styles */
.publicities-SectionSuggestionSeries {
  background-image: url(src/assets/images/series/notre-belle-famille.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
  position: relative;
  margin-bottom: 2rem;
  padding: 1rem;
}

.publicities-h1-title {
  font-size: large;
  text-align: center;
  color: var(--color-one);
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
  -webkit-text-stroke: 0.5px black;
}

.publicities-h3-p {
  font-size: medium;
  color: var(--color-three);
  font-weight: bold;
  -webkit-text-stroke: 0.5px black;
}

.publicities-card-home {
  perspective: 100rem;
  position: relative;
  width: 15em; /* Adjust for smaller screens */
  height: 20em; /* Adjust for smaller screens */
  margin: 0 auto;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  color: var(--color-one);
}

.publicities-card-home:hover {
  transform: rotateY(180deg);
}

.publicities-card-side {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  left: -2em;
}

.publicities-card-side-front {
  background: var(--color-one);
}

.publicities-card-side-back {
  background: var(--color-one);
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  color: var(--color-four);
  font-size: medium;
}

.publicities-imgCardSugg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.publicities-cardSuggestion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.publicities-SectionSuggestionFilms {
  width: 100%;
  display: flex;
  justify-content: center;
}

.publicities-ImgSuggestionFilms {
  display: flex;
  position: relative;
  width: 80%;
  opacity: 0.5;
  border-radius: 25px;
  padding: 1rem;
}

.publicities-h3-pAbso {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: large;
  color: var(--color-five);
  left: 10rem;
  padding-top: 5rem;
}

/* Desktop styles */
@media (min-width: 992px) {
  .publicities-SectionSuggestionSeries {
    margin-bottom: 4rem;
    padding: 2rem;
  }

  .publicities-h1-title {
    font-size: xx-large;
    text-shadow: 5px 5px 5px black;
    -webkit-text-stroke: 1px black;
  }

  .publicities-h3-p {
    font-size: x-large;
  }

  .publicities-card-home {
    width: 25em; /* Adjust for larger screens */
    height: 35em; /* Adjust for larger screens */
  }

  .publicities-card-side-back {
    font-size: x-large;
  }

  .publicities-h3-pAbso {
    font-size: xx-large;
    left: 25rem;
    padding-top: 10rem;
  }
}

@media (max-width: 992px) {
  .publicities-card-home {
    pointer-events: none; /* Disable hover effect on mobile */
  }
}

@media (max-width: 480px) {
  .publicities-SectionSuggestionSeries {
    background-image: none;
    margin-bottom: 4rem;
    gap: 2rem;
    padding: 2rem;
  }
  .publicities-SectionSuggestionFilms {
    display: none;
  }
}
