.SectionSuggestionSeries {
  background-image: url(src/assets/images/series/notre-belle-famille.webp);
  background-size: cover; /* Assure que l'image couvre tout l'écran */
  background-position: center; /* Centre l'image */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  height: 100%;
  width: 100%;
  position: relative;
  margin-bottom: 4rem;
  gap: 2rem;
  padding: 2rem;
  top: -14em;
}
.h1-title {
  font-size: xx-large;
  text-align: center;
  color: var(--color-one);
  font-weight: bold;
  text-shadow: 5px 5px 5px black;
  -webkit-text-stroke: 1px black;
}
.h3-p {
  font-size: x-large;
  color: var(--color-three);
  font-weight: bold;
  -webkit-text-stroke: 0.5px black;
}

.card-home {
  perspective: 150rem;
  position: relative;
  width: 33em;
  height: 45em;
  margin: 0 auto;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  color: var(--color-one);
}

@media screen and (min-width: 375px) {
  .h3-p {
    font-size: x-large;
    color: var(--color-three);
    font-weight: bold;
    margin-left: 0.7em;
  }
}

@media screen and (min-width: 425px) {
  .h3-p {
    font-size: x-large;
    color: var(--color-three);
    font-weight: bold;
    margin-left: 1.7em;
  }
}

@media screen and (min-width: 768px) {
  .h3-p {
    font-size: x-large;
    color: var(--color-one);
    font-weight: bold;
    margin-left: 1em;
    text-shadow: 5px 5px 5px black;
  }
}

.imgCardSugg {
  margin-top: 10rem;
  width: 20%;
  height: 25rem;
  bottom: 20rem;
  gap: 2rem;
  overflow: hidden;
}
.cardSuggestion {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
  overflow: hidden;
  position: relative;
  top: 2em;
}
.Card {
  width: 30%;
}
.SectionSuggestionFilms {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  top: 10em;
}
.ImgSuggestionFilms {
  display: flex;
  position: relative;
  width: 80%;
  opacity: 0.5;
  border-radius: 25px;
  padding: 2rem;
}
.h1-titleAbso {
  position: absolute;
  font-size: xx-large;
  color: var(--color-five);
  left: 25rem;
  padding-top: 5rem;
}
.h3-pAbso {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: xx-large;
  color: var(--color-five);
  left: 25rem;
  padding-top: 10rem;
}
.Premium {
  color: var(--color-one);
  font-weight: bold;
}
@media (max-width: 480px) {
  .SectionSuggestionSeries {
    background-image: none;

    margin-bottom: 4rem;
    gap: 2rem;
    padding: 2rem;
  }
  .SectionSuggestionFilms {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .h1-title {
    font-size: xx-large;
    text-align: center;
    color: var(--color-one);
    font-weight: bold;
    text-shadow: 5px 5px 5px black;
    -webkit-text-stroke: 1px black;
    position: relative;
    top: -3em;
  }

  .h3-p {
    color: var(--color-one);
    font-weight: bold;
    font-size: 4em;
    -webkit-text-stroke: 0.5px black;
    position: relative;
    top: 4em;
  }

  .SectionSuggestionSeries {
    background-image: url("src/assets/images/series/notre-belle-famille.webp");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: relative;
    margin-bottom: 4rem;
    gap: 2rem;
    padding: 2rem;
    top: 5em;
  }

  .cardSuggestion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;
    overflow: hidden;
    position: relative;
    top: 15em;
  }

  .ImgSuggestionFilms {
    display: flex;
    position: relative;
    width: 80%;
    opacity: 0.5;
    border-radius: 25px;
    padding: 2rem;
    top: 3em;
  }
}
