.videoplayer_list {
  list-style: none;
  color: var(--color-four);
  font-size: 1.2em;
  font-weight: 800;
  margin: 0px 10px;
  line-height: initial;
}

.videoplayer_description_container {
  margin-top: 100px;
}

.vignette_description {
  font-size: small;
}
.videoplayer_none_on_mobile {
  display: none;
}

.videoplayer_image {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--color-one);
  font-family: "Darker Grotesque", sans-serif;
  margin: 100px 15px 15px 15px;
  padding: 15px;
}
.vignette_image {
  height: 30%;
  width: 30%;
}

@media (min-width: 992px) {
  .videoplayer_none_on_mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .videoplayer_description_categories {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--color-four);
  }
  .videoplayer_categories {
    color: var(--color-one);
    column-count: 2;
    column-gap: 10px;
    font-size: x-large;
    margin-bottom: 10px;
    font-weight: 600;
  }
  .videoplayer_genre {
    color: var(--color-one);
    column-count: 2;
    column-gap: 10px;
    font-size: x-large;
    font-weight: 600;
  }
  .videoplayer_description_container {
    margin-top: 170px;
  }
  .videoplayer_image {
    width: 60%;
    margin: 15px;
    padding: 15px;
  }
  .vignette_image {
    height: 100%;
    width: 100%;
  }
  .categories {
    display: flex;
    flex-direction: column;
  }
  .genre {
    color: var(--color-five);
    font-size: 0.8em;
    font-family: "Darker Grotesque", sans-serif;
    break-inside: avoid;
  }

  .videoplayer_list {
    margin: 0.6em;
    font-size: x-large;
  }
  .title_categories {
    color: var(--color-one);
    font-size: x-large;
    font-family: "Glitch";
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .title_genre {
    color: var(--color-one);
    font-size: x-large;
    font-family: "Glitch";
    text-align: center;
    margin-bottom: 10px;
  }
}
