.darker-grotesque {
  font-family: "Darker Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.h1-contact-page {
  color: var(--color-one);
}
body {
  font-family: "Darker Grotesque", sans-serif;
  margin: 0;
}
.form-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: var(--color-two);
  width: 50%;
  border-radius: 25px;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0px 0px 44px 0px rgba(2, 223, 147, 1);
}
.sectionForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-four);
  animation: bounceInDown 1s forwards;
}
.h1contact {
  font-size: xx-large;
}
.home-icon {
  margin-top: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
  transition: transform 0.2s;
}
.home-icon:hover {
  transform: scale(1.2);
}
.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes bounceInDown {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInDown {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

.fields {
  width: 65%;
  display: flex;
  padding: 0.5rem;
  border-radius: 25px;
  font-size: medium;
  font-weight: bold;
}
.msg {
  height: 30vh;
}
.btnSend {
  width: 20%;
  display: flex;
  color: var(--color-five);
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 25px;
  margin: 1rem;
  background-color: var(--color-three);
  box-shadow: 0px 0px 44px 0px rgba(2, 223, 147, 1);
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease 0.2s;
}
.btnSend:hover {
  transform: scale(1.1);
}
@media (max-width: 480px) {
  h1 {
    color: var(--color-one);
  }
  .container-form {
    display: flex;
    justify-content: center;
    width: 100%;
    animation: bounceInDown 2s forwards;
  }
  .form-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: var(--color-two);
    border-radius: 25px;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0px 0px 44px 0px rgba(2, 223, 147, 1);
    width: 90%;
    animation: bounceInDown 2s forwards;
  }
  .sectionForm {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-four);
  }
  .fields {
    width: 100%;
    display: flex;
    padding: 0.5rem;
    border-radius: 25px;
  }
  .msg {
    height: 30vh;
  }
  .btnSend {
    width: 60%;
    display: flex;
    color: var(--color-five);
    font-size: medium;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 25px;
    margin: 1rem;
    background-color: var(--color-three);
    box-shadow: 0px 0px 28px -5px rgba(132, 33, 206, 1);
    border: none;
    cursor: pointer;
    transition: transform 0.12s ease 0.12s;
  }
  .btnSend:hover {
    transform: scale(1.05);
  }
}
