.darker-grotesque {
  font-family: "Darker Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
body {
  font-family: "Darker Grotesque", sans-serif;
  margin: 0;
}
span {
  color: var(--color-six);
  cursor: pointer;
}
.container-body {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--color-four);
}
.ContainerInfoContact {
  display: flex;
  background-color: var(--color-four);
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}
.SectionInfoContact {
  display: flex;
  align-items: center;
  background-color: var(--color-two);
  width: 60%;
  padding: 1rem;
  margin: 1rem;
  border-radius: 25px;
  box-shadow: 0px 0px 44px 0px rgba(2, 223, 147, 1);
}
.SectionInfoContactSuggestion {
  display: flex;
  background-color: var(--color-two);
  /*width: 10%;*/
  padding: 1rem;
  margin: 1rem;
  border-radius: 25px;
  box-shadow: 0px 0px 44px 0px rgba(2, 223, 147, 1);
}
.Plink {
  text-decoration: underline;
  color: var(--color-six);
  cursor: pointer;
}
@media (max-width: 480px) {
  .ContainerInfoContact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    background-color: var(--color-four);
    width: 100%;
  }
  .SectionInfoContact {
    display: flex;
    align-items: center;
    background-color: var(--color-two);
    width: 80%;
    padding: 1rem;
    border-radius: 25px;
    box-shadow: 0px 0px 44px 0px rgba(2, 223, 147, 1);
  }
  .SectionInfoContactSuggestion {
    display: flex;
    background-color: var(--color-two);
    width: 80%;
    padding: 1rem;
    border-radius: 25px;
    box-shadow: 0px 0px 44px 0px rgba(2, 223, 147, 1);
  }
  .Plink {
    text-decoration: underline;
    color: var(--color-six);
    cursor: pointer;
  }
}
