.darker-grotesque {
  font-family: "Darker Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
body {
  font-family: "Darker Grotesque", sans-serif;
  margin: 0;
}
.h3Fair {
  text-decoration: aliceblue;
  color: var(--color-six);
}
span {
  color: var(--color-six);
  cursor: pointer;
}
.container-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--color-four);
  margin-top: 10rem;
  animation: bounceInDown 2s forwards;
}
.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes bounceInDown {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInDown {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

.ContainerInfoContact {
  display: flex;
  background-color: var(--color-four);
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  width: 80%;
}
.SectionInfoContact {
  display: flex;
  align-items: center;
  background-color: var(--color-two);
  width: 60%;
  padding: 1rem;
  margin: 1rem;
  border-radius: 25px;
  box-shadow: 0px 0px 44px 0px rgba(2, 223, 147, 1);
}
.SectionInfoContactSuggestion {
  display: flex;
  background-color: var(--color-two);
  padding: 1rem;
  margin: 1rem;
  border-radius: 25px;
  box-shadow: 0px 0px 44px 0px rgba(2, 223, 147, 1);
}
.Plink {
  text-decoration: underline;
  color: var(--color-six);
  cursor: pointer;
}
.supportSection {
  display: flex;
  flex-direction: row;
  width: 78%;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background-color: var(--color-two);
  box-shadow: 0px 0px 44px 0px rgba(2, 223, 147, 1);
}
.supportInfo {
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: var(--color-two);
  padding: 1rem;
  margin: 1rem;
}
.callSupport {
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: var(--color-five);
  padding: 1rem;
  margin: 1rem;
  border-radius: 25px;
}
.phoneText {
  text-decoration: aliceblue;
}

@media (max-width: 480px) {
  .ContainerInfoContact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    background-color: var(--color-four);
    width: 100%;
  }
  .SectionInfoContact {
    display: flex;
    align-items: center;
    background-color: var(--color-two);
    width: 80%;
    padding: 1rem;
    border-radius: 25px;
    box-shadow: 0px 0px 44px 0px rgba(2, 223, 147, 1);
  }
  .SectionInfoContactSuggestion {
    display: flex;
    background-color: var(--color-two);
    width: 80%;
    padding: 1rem;
    border-radius: 25px;
    box-shadow: 0px 0px 44px 0px rgba(2, 223, 147, 1);
  }
  .Plink {
    text-decoration: underline;
    color: var(--color-six);
    cursor: pointer;
  }
}
